<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>boyvivbhf@fhogyrTenqvrag.pbz</string>
	<key>contactName</key>
	<string>Thomas Aylott</string>
	<key>description</key>
	<string>&lt;a href=&quot;http://en.wikipedia.org/wiki/Linden_Scripting_Language&quot;&gt;Linden Scripting Language&lt;/a&gt; used by the game Second Life.</string>
	<key>name</key>
	<string>Second Life LSL</string>
	<key>uuid</key>
	<string>9239D1EF-002B-4AC0-9507-66DF5BA402EF</string>
</dict>
</plist>
